body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
h1{
    font-size: 20px
}
input {

}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}
input [type="text"],textarea {
    width: 100%;
    padding: 5%;
}
button {
    margin-top: 10px;
    padding : 5px 10px;
}
form {
    margin-top: 5%;
}
label {
    display: block;
    margin-top: 10px;
}